.listAmount{
    float:right;
}
.listAmountPos{
    composes: listAmount;
    color: var(--amount-pos);
}

.listAmountNeg{
    composes: listAmount;
    color: var(--amount-neg);
}

.expenseList{
    background-color: #fafafa;
    padding: 1rem;
}

.navBar{
    padding-left:40px !important;
}


.primaryColor{
    color: var(--primary-color);
}

.dashboard{
    padding: 1rem;
}

.graph{
    margin-bottom: 1rem;
}

.emphasis{
    font-size:xx-large;
    font-weight:bold;
}

.summary{
    background-color: #fafafa;
    padding: 1rem;
    margin:1rem 0;
    text-align:center;
}
.subtitle{
    font-size:x-small;
    font-style: italic;
}